<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %></title>
  <meta name="description" content="<%= description %>" />
  <!-- Place here other SEO tags like Open Graph, Twitter Card, etc. -->
  <link href="/styles/tailwind.css" rel="stylesheet" />
</head>
