<!DOCTYPE html>
<html lang="fr">
<%- include('head', { title: "Mon CV", description: "Découvrez mon CV détaillé." }) %>
<body>
  <%- include('header') %>
  <main>
    <h2 class="text-2xl font-bold">Mon Portfolio</h2>
    <p>Voici mon portfolio avec mes projets...</p>
  </main>
  <%- include('footer') %>
</body>
</html>